/.idea
/vacation.iml
/application.log
/settings.inc
/unittest/covarage
/unittest/coverage
/unittest/testresult.html
/unittest/testresult.txt
/unittest/LOGFILEUNITTEST
/unittest/unittest.log
/setup/testdata/dev.csv
/setup/testdata/parseIntoDb.php
