html, body {
    height: 100%;
    margin: 0;
    min-height: 100%;
}

body {
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    /*font-family: 'Bitter', serif;*/

    background-color: #ffffff;
    /*background-color: #f4cbc9;*/
    /*background-image: linear-gradient(top, rgb(87, 87, 87) 0%, rgb(121, 121, 121) 50%, rgb(229, 229, 229) 100%);*/
    /*background-image: -o-linear-gradient(top, rgb(87, 87, 87) 0%, rgb(121, 121, 121) 50%, rgb(229, 229, 229) 100%);*/
    /*background-image: -moz-linear-gradient(top, rgb(87, 87, 87) 0%, rgb(121, 121, 121) 50%, rgb(229, 229, 229) 100%);*/
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(87, 87, 87)), color-stop(0.50, rgb(121, 121, 121)), color-stop(1, rgb(229, 229, 229)));*/
    /*background-image: -webkit-linear-gradient(top, rgb(87, 87, 87) 0%, rgb(121, 121, 121) 50%, rgb(229, 229, 229) 100%);*/
    /*background-image: -ms-linear-gradient(top, rgb(87, 87, 87) 0%, rgb(121, 121, 121) 50%, rgb(229, 229, 229) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ab99b4', endColorstr='#f4cbc9');*/
    background-attachment: fixed;
    min-height: 100%;
}

.header {
    font-size: xx-large;
    text-align: center;

}

.menu {
    font-size: large;
    text-align: center;

}

.link {
    cursor: pointer;
}

.center {
    text-align: center;
}

.explainBoxes {
    margin: 10px;
}

.info {
    text-align: center;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    border-style: solid;
    padding: 10px;
}

.infobottom {
    text-align: center;
    border-radius: 10px;
    width: 400px;
    height: 100px;
    border-style: solid;
    padding: 10px;
}

.thItem {
    background: #ffffff;
}

.vacation {
    background: red;
}

.course {
    background: blue;
}

.parental {
    background: orange;
}

.none {
    background: white;
}

.box {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.wizard {
    font-size: large;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

.ui-datepicker-week-end {
    display: none
}

.actionBox {
    border: 2px solid;
    border-radius: 25px;
    border-style: solid;
    border-color: #aaaaaa;
    width: 600px;
    height: 370px;

    text-align: center;
    margin: 2cm auto;
    text-align: left;
    /*background-image: linear-gradient(top, rgb(87, 87, 87) 0%, rgb(121, 121, 121) 50%, rgb(229, 229, 229) 100%);*/
    background-image: linear-gradient(0deg, rgb(127, 245, 0) 0%, rgb(29, 201, 24) 50%, rgb(19, 150, 18) 100%);
    /*background-image: linear-gradient(left, right, from(#A1D004), to(#6B9A00));*/

    /*mozila code*/
    /*background-image: -moz-linear-gradient(left, right, from(#A1D004), to(#6B9A00));*/

    /*webkit code*/
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #A1D004), color-stop(1.00, #6B9A00));*/

    /*IE code - note GradientType=0 means vertical*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#A1D004, endColorstr=#6B9A00, GradientType=0);*/

}

select {
    border-radius: 10px;
    padding: 0.2em 0.2em;
}

input {
    border-radius: 10px;

    padding: 0.2em 0.2em;

}

button {
    border-radius: 10px;

    padding: 0.2em 0.2em;
}

.table-wrapper {
    /*overflow-x:scroll;*/
    /*overflow-y:visible;*/
    width: 90%;
    /*margin-left: 120px;*/
}

.mt table {
    table-layout: fixed;

}

.mt th {
    /*height: 40px;*/
    white-space: nowrap;
    border-style: groove;
    border-width: 0.5px;
    border-radius: 10px;

}

.mt td {
    vertical-align: text-bottom;
    /*height: 30px;*/
    white-space: nowrap;
    border-style: groove;
    border-width: 0.5px;
    border-radius: 10px;

}

.mt th:first-child {
    width: 100px;
    /*position: fixed;*/
    /*left: 5px*/
}

.mt td:first-child {
    width: 100px;

    /*position: fixed;*/
    /*left: 5px*/
}

.fixedcell {
    height: 30px;
    width: 70px;

}

/* unvisited link */
a:link {
    color: #000000;
}

/* visited link */
a:visited {
    color: #000000;
}

/* mouse over link */
a:hover {
    color: #353535;
}

/* selected link */
a:active {
    color: #000000;
}